<!DOCTYPE html>
<html xmlns:th = "https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Metro - Menu</title>
<link th:href="@{/style/style.css}" rel="stylesheet">
</head>
<body>
<h1>Metro</h1>
<p th:text = "${message}"></p>

<div>
	<a href = "/swipeOut" th:if="${session.isSwipedIn}">Swipe out</a>
	<a href = "/swipeIn" th:unless="${session.isSwipedIn}">Swipe in</a>
</div>
<a href = "/updateBalance">Update balance</a><br>
<a href = "/checkBalance">Check balance</a><br>
<a href = "/transactionHistory">Travel History</a>
<form action="/signOut" method = "POST">
	<input type = "submit" value = "Sign out">
</form>
</body>
</html>