<!DOCTYPE html>
<html xmlns:th = "https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Metro - Sign in</title>
</head>
<body>
<h1>Metro</h1>
<h3>Sign in</h3>
<form action = "/signIn" method = "POST">
	<p th:text = "${message}" style = "color: red"></p>
	<input type = "email" placeholder = "email" name = "email"><br>
	<input type = "password" placeholder = "password" name = "password"><br>
	<input type = "submit" value = "Sign in">
	<a href = "/newCard">Generate card</a>
</form>
</body>
</html>