<!DOCTYPE html>
<html xmlns:th = "https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Metro - Transaction History</title>
<link th:href="@{/style/style.css}" rel="stylesheet">
</head>
<body>
<div class="bg-img">
<div id="container">
<h1>Travel History</h1>
<table >
<thead>
	<tr>
		<th  id="t-table">ID</th>
		<th  id="t-table">Source</th>
		<th  id="t-table">Destination</th>
		<th  id="t-table">Swipe-in Time</th>
		<th  id="t-table">Swipe-out Time</th>
		<th  id="t-table">Fare</th>
	</tr>
</thead>
	<tr th:each = "transaction: ${transactions}">
		<td th:text = "${transaction.id}"  id="t-table"></td>
		<td th:text = "${transaction.sourceMetroStation}"  id="t-table"></td>
		<td th:text = "${transaction.destinationMetroStation}" id="t-table"></td>
		<td th:text = "${transaction.swipeInTime}" id="t-table"></td>
		<td th:text = "${transaction.swipeOutTime}"  id="t-table"></td>
		<td th:text = "${transaction.fare}"  id="t-table"></td>
	</tr>
</table>
</div>
</div>
</body>
</html>